<ion-content [fullscreen]="true">

  <div class="app-title">
    <h1>Schedule</h1>
  </div>

  <app-slides></app-slides>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-icon name="menu" class="main-icon" color="light" (click)="goToPlan()"></ion-icon>
  </ion-fab>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-icon name="settings" class="main-icon" color="light"></ion-icon>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <!-- <ion-fab-button color="warning"> -->
      <ion-icon name="add-circle" class="main-icon" color="primary"></ion-icon>
    <!-- </ion-fab-button> -->
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-icon name="trash" class="main-icon" color="danger" md="ios-trash-outline"></ion-icon>
  </ion-fab>
</ion-content>
